{% extends 'base.html' %}



{% block content %}
    <div class="container d-flex">
        <div class="filter ml-auto p-2">
            <label for="cars" class="mx-2 my-4">Filter:</label>
            <button class="btn btn-light">
                <a href="/">All</a>
            </button>
            {% for category in categories %}
                <button class="btn btn-light">
                    <a href="/?category={{ category.id }}">{{ category.name }}</a>
                </button>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% for new in news %}
        <h3><a href="{% url 'post_details' new.pk %}">{{ new.title }}</a></h3>
        <img src="{{ new.image.url }}" class="full-width-image my-2" alt="image">
        <p>{{ new.body|slice:":500" }}</p>
        <a href="{% url 'post_details' new.pk %}" class="btn btn-primary">Read More &rarr;</a>
        <hr>
    {% endfor %}
{% endblock content %}