{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="pt-4 m-4">
            <div class="col-lg-5 mx-auto border rounded p-4" style="background-color: aliceblue">
                <h3 class="alert alert-light border rounded" style="background-color: antiquewhite">Login Here</h3>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <h3>{{ message }}</h3>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control form-control-sm"
                               placeholder="Username" required>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control form-control-sm"
                               placeholder="**********" required>
                    </div>

                    <!-- submit -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-sm col-lg-4">
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}