{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="pt-4 m-4">
            <div class="col-lg-5 mx-auto border rounded p-4" style="background-color: aliceblue">
                <h3 class="alert alert-light border rounded" style="background-color: antiquewhite">Login Here</h3>
                <form action="{% url 'login' %}" method="post">
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    {% csrf_token %}

                    <!-- email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="{{ values.email }}" class="form-control form-control-sm"
                               placeholder="example@gmail.com" required>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control form-control-sm"
                               placeholder="**********" required>
                    </div>

                    <!-- submit -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-sm col-lg-4" value="Login">
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}