{% extends 'base.html' %}


{% block content %}
    <!--post section -->
    <h3>{{ new.title }}</h3>
    <img src="{{ new.image.url }}" class="full-width-image my-2" alt="image">
    <p>{{ new.body|safe }}</p>
    <hr>
    <!--post section end-->

    <!--comment section -->
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment by <strong class="text-primary">{{ comment.name }}</strong>
                {{ comment.created }}
            </p>
            <small>{{ comment.body|linebreaks }}</small>
            <a href="">Edit</a>
            <a href="{% url 'comment_delete' comment.id %}">Delete</a>
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    <hr>
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
    <!--comment section end-->

    <a href="{% url 'index' %}" class="btn btn-primary mt-4 mb-4">Return Home</a>
{% endblock content %}