{% extends 'base.html' %}
{% block title %}STM | User Registration {% endblock title %}
{% block content %}

    <div class="container">
        <div class="pt-4 m-4">
            <div class="col-lg-5 mx-auto border rounded p-4" style="background-color: aliceblue">
                <h3 class="alert alert-light border rounded" style="background-color: antiquewhite"> Create An
                    Account</h3>
                <form action="{% url 'signup' %}" method="post">
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <h3></h3>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% csrf_token %}
                    <!-- First Name -->
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name"
                               class="form-control form-control-sm"
                               required>
                    </div>

                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name"
                               class="form-control form-control-sm"
                               required>
                    </div>


                    <!-- username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username"
                               class="form-control form-control-sm"
                               required>
                    </div>


                    <!-- email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email"
                               class="form-control form-control-sm"
                               placeholder="example@gmail.com" required>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" name="password1" class="form-control form-control-sm"
                               placeholder="**********" required>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" class="form-control form-control-sm"
                               placeholder="**********" required>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-sm" value="Creat an Account">
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}