<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}STM News{% endblock title %}</title>
</head>
<body style="background-color: #eee">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <img src="https://lh3.googleusercontent.com/proxy/iIsEqmiPKBOA2osKan9CFb105GgUo0pMGq0Ceho-eitWmYXcV9W9SHQA07pY6L8raBK500Ql5R9aeWtlv4kT5kKDXpvQ-84ahA"#}
             width="30" height="30" class="d-inline-block align-top mx-2"
             alt="">
        <a class="navbar-brand text-white" href="#">SoftTech Multimedia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>


            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">SignUp <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white" href="#">Action</a>
                        <a class="dropdown-item text-white" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container d-flex">
    <div class="filter ml-auto p-2">
        <label for="cars" class="mx-2 my-4">Filter:</label>

        <a href="/">All</a>
        {% for category in categories %}
            <a href="/?category={{ category.id }}">{{ category.name }}</a>
        {% endfor %}

    </div>
</div>
<hr>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>